<launch>

  <node pkg="razor_imu_9dof" type="node.py" name="node" output="screen">
        <param name="device" type="string" value="/dev/ttyUSB0" />
  </node>

   <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
      <rosparam command="delete" param="/diagnostic_aggregator" />
      <rosparam command="load" file="$(find razor_imu_9dof)/config/razor_diags.yaml" />
   </node>

   <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="rqt_robot_monitor" />
  
</launch>
